﻿
@{
    ViewBag.Title = "Basic";
}

<h2>Hello <span data-bind="text:name"></span></h2>

<!--Ejemplo de como se utiliza Knockout.js-->
@section Scripts {
<script>
    function ViewModel() {
        this.name = 'Abiel Villegas'
    };
    var viewModel = new ViewModel();
    ko.applyBindings(viewModel);
    </script>
    }

