﻿@model IEnumerable<Ejemplo_Web_App.Models.Author>
@using System.Web.Mvc.Html

@{
    ViewBag.Title = "Authors";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Biography)
        </th>
        <th>Actions</th>
    </tr>
    <!--Con razor-->
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biography)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    <!--Knockoutjs-->
    <tbody data-bind="foreach:authors">
        <tr>
            <td data-bind="text: FirstName"></td>
            <td data-bind="text: LastName"></td>
            <td data-bind="text: Biography"></td>
            <td>
                <a data-bind="attr:{href: '@Url.Action("Details")/' + Id}"
                   class="btn btn-info">Details</a>
                <a data-bind="attr: {href: '@Url.Action("Edit")/' + Id}"
                   class="btn btn-info">Edit</a>
                <a data-bind="attr: {href: '@Url.Action("Delete")/' + Id}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script>
        function ViewModel(authors) {
            var self = this;

            self.authors = authors;
        };
        var viewModel = new ViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);
    </script>
}