﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--Otra forma de Poner Links-->
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Application name</a>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <!--Hacer un menu dropdown para una opcion-->
                    <li class="dropdown">
                        <a href="@Url.Action("About", "Home")" class="dropdown-toggle" data-toggle="dropdown">
                            About <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Development Team</a></li>
                            <li><a href="#">Projects</a></li>
                            <li class="divider"></li>
                            <li><a href="#">History</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Contact", "Home")" class="dropdown-toggle" data-toggle="dropdown">
                            Contact <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">By Mail</a></li>
                            <li><a href="#">By E-mail</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Basic", "Home")">Basic</a></li>
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Basico", "Basic", "Home")</li>
                </ul>
                <!--Form para poner buscador-->
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" />
                    </div>
                    <button type="submit" class="btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!--No funciono buscar por que-->
    <div class="container body-content">
        <div class="btn-group">
            <button type="button" class="btn-default">Default</button>
            <button type="button" class="btn-primary">Primary</button>
            <button type="button" class="btn-success dropdown-toggle" data-toggle="dropdown">
                Success <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Option 1</a></li>
                <li><a href="#">Option 2</a></li>
            </ul>
        </div>

    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <button type="button">Default</button>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/knockout-3.4.2.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
